<settings >
    <servers>
        <server>
            <id>unicorn-packages-unicorn-packages</id>
            <username>aws</username>
            <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>unicorn-packages-unicorn-packages</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>unicorn-packages-unicorn-packages</id>
                    <url>https://unicorn-packages-970547333525.d.codeartifact.eu-west-1.amazonaws.com/maven/unicorn-packages/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <mirrors>
        <mirror>
            <id>unicorn-packages-unicorn-packages</id>
            <name>unicorn-packages-unicorn-packages</name>
            <url>https://unicorn-packages-970547333525.d.codeartifact.eu-west-1.amazonaws.com/maven/unicorn-packages/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
</settings>